:root{
	--Site_BG:#77aa77;
	--Light_1:#dfe1e7;
	--Light_2:#eeeff2;
	--Dark_1:#b4b6bb;
	--Dark_2:#C5C7CC;
	--Font:tahoma;
}

.TH{
	background-color:var(--Dark_2);
	padding:0;
	padding-top:10px;
	color:white;
}

.TD{
	background-color:var(--Light_2);
	padding:30px;
	box-shadow: 0px 7px 5px -5px #666666 inset;
	text-align:center;
}

.TABLE{
	margin:auto;
	box-shadow: 5px 5px 5px #666666;
}

.center{
	margin:auto;
}

.center2{
	margin:auto;
	display:block;
}

.helptext{
	font-style:italic;
	color:#777777;
}

.errorMessage{
	color:red;
	font-style:bold;
}

.createAccount{
	vertical-align:top;
	position:relative;
	text-align:center;
}

a:link {
	font-weight: bold;
	text-decoration: none;
    color: #551A8B;
}

a:hover {
	font-weight: bold;
	text-decoration: none;
    color: #FF69B4;
}

#snow{
  background: none;
  font-family: Androgyne;
  background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index:1;
  -webkit-animation: snow 10s linear infinite;
  -moz-animation: snow 10s linear infinite;
  -ms-animation: snow 10s linear infinite;
  animation: snow 10s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
} 