:root{
	--Site_BG:#77aa77;
	--Light_1:#dfe1e7;
	--Light_2:#eeeff2;
	--Dark_1:#b4b6bb;
	--Dark_2:#C5C7CC;
	--Font:tahoma;
}

th{
	vertical-align: top;
	text-align:left;
	font-weight:bold;
	color:white;
	padding:7;
}

td{
	vertical-align: top;
	position: relative;
}

textarea{
	resize:none;
}

.quantityTextbox{
	width:70;
}

.ingredientTextbox{
	width:160;
}

.table{
	margin:auto;
	box-shadow: 5px 5px 5px #666666;
}

.oddRow{
	background:var(--Light_1);
	padding:7;
	box-shadow: 7px 0px 5px -5px #000000 inset;
}

.evenRow{
	background:var(--Light_2);
	padding:7;
	box-shadow: 7px 0px 5px -5px #000000 inset;
}

.oddHead{
	background:var(--Dark_1);
}

.evenHead{
	background:var(--Dark_2);
}

.name{
	width:367px;
}

.helpImg{
	display:none;
	position:absolute;
	width:400;
	top:-30px;
	left:10px;
	z-index:2;
}

.submitTD{
	background:var(--Dark_2);
	text-align:center;
}

.submitButton{
	font-size:20px;
	margin:10px;
}

.header{
	background:var(--Dark_2);
	text-align:center;
	color:white;
}