:root{
	--Site_BG:#77aa77;
	--Light_1:#dfe1e7;
	--Light_2:#eeeff2;
	--Dark_1:#b4b6bb;
	--Dark_2:#C5C7CC;
	--Font:tahoma;
}

.table{
	margin:auto;
	box-shadow: 5px 5px 5px #666666;
}

.resultsTable{
	margin:auto;
	box-shadow: 5px 5px 5px #666666;
	width:97%;
}

.helptext{
	font-style:italic;
	color:#777777;
	font-size:12;
}

.nowrap{
	display:inline-block;
	white-space:nowrap;
}

.TH{
	background-color:var(--Dark_2);
	padding:0;
	padding-top:10px;
	color:white;
	font-size: 20px;
}

.TD1{
	background-color:var(--Light_1);
	padding:10px;
	box-shadow: 0px 7px 5px -5px #666666 inset;
}

.TD2{
	background-color:var(--Light_2);
	padding:10px;
	box-shadow: 0px 7px 5px -5px #666666 inset;
}

body {
	background-image: url("https://farm2.staticflickr.com/1516/25730763342_02e04a4d28_c.jpg");
	background-repeat: repeat;
}

.header{
	background:var(--Dark_2);
	text-align:center;
	color:white;
}