<head>
    <link rel="stylesheet" type="text/css" href="../static/css/navbar.css" />
    <title>Grub!</title>
</head>

<div>
    <table id="nav_bar" cellspacing="0">
      <tr>
        <td class="nav_button3"  onclick="document.location='hello'">
          &nbsp;&nbsp;<img src="../static/images/grub logo.png" id="logo">&nbsp;&nbsp;
        </td>
        <td class="nav_button1" onclick="document.location='search'">
          <span class="nav_text">&nbsp;&nbsp;Search Recipes&nbsp;&nbsp;</span>
        </td>
        <td class="nav_button2" onclick="document.location='search_users'">
          <span class="nav_text">&nbsp;&nbsp;Search Users&nbsp;&nbsp;</span>
        </td>
        <td class="nav_button1" onclick="document.location='upload_page'">
          <span class="nav_text">&nbsp;&nbsp;Upload Recipes&nbsp;&nbsp;</span>
        </td>
        <td class="nav_button2" onclick="document.location='user'">
          <span class="nav_text">&nbsp;&nbsp;My Profile&nbsp;&nbsp;</span>
        </td>
        <td class="nav_button1" onclick="document.location='logout'">
          <span class="nav_text">&nbsp;&nbsp;Logout&nbsp;&nbsp;</span>
        </td>
      </tr>
    </table>
    <div><br/><br/><br/>{% block content %}{% endblock %}</div>
</div>