<head>
    <link rel="stylesheet" type="text/css" href="../static/css/navbar.css" />
    <title>Grub!</title>
</head>

<div>
    <table id="nav_bar" cellspacing="0">
      <tr>
        <td class="nav_button3"  onclick="document.location='hello'">
          <img src="../static/images/grub logo.png" id="logo">
        </td>
        <td class="nav_button1" onclick="document.location='search'">
          <div class="nav_text">Search Recipes</div>
        </td>
        <td class="nav_button2" onclick="document.location='search_users'">
          <div class="nav_text">Search Users</div>
        </td>
        <td class="nav_button1" onclick="document.location='upload_page'">
          <div class="nav_text">Upload Recipes</div>
        </td>
        <td class="nav_button2" onclick="document.location='user'">
          <div class="nav_text">My Profile</div>
        </td>
        <td class="nav_button1" onclick="document.location='logout'">
          <div class="nav_text">Logout</div>
        </td>
      </tr>
    </table>
    <div><br/><br/><br/>{% block content %}{% endblock %}</div>
</div>