{% extends "app_base.html" %}
{% block content %}
{# include the first two lines above to extend the app_base template #}
<head>
	<link rel="stylesheet" type="text/css" href="static/css/upload.css" />
</head>
<h2>Welcome to Grub!</h2>
<h3>Current User: {{ user }}</h3>
<div class="alert alert-info">Click on a photo to view a recipe.</div>

<h4>Featured Recipe</h4>
{% if featured_recipe_photo %}
	<a href = view?recipeID={{featured_recipe_photo['RecipeID'] | e}}>
		<img src = {{featured_recipe_photo['Photo'] | e}} alt = 'FoodPic' style="width:304px;height:228px;" >
	</a>
{% endif %}

<h4>All Recipes</h4>
{% if all_photos %}
	{% for photo in all_photos %}
		<a href = view?recipeID={{photo['RecipeID'] | e}}>
			<img src = {{photo['Photo'] | e}} alt = 'FoodPic' style="width:304px;height:228px;" >
		</a>
	{% endfor %}
{% endif %}

<h3>Recipe Links</h3>
{% if all_recipes %}
	{% for recipe in all_recipes %}
		<ul>
			<li><a href = view?recipeID={{recipe['RecipeID'] | e}}>{{recipe['Recipe_name'] | e }}</a></li>
		</ul>
	{% endfor %}
{% else %}
	<p>No recipes found</p>
{% endif %}

{% endblock %}