{% extends "app_base.html" %}
{% block content %}
{# include the first two lines above to extend the app_base template #}
<head>
	<link rel="stylesheet" type="text/css" href="static/css/login.css" />
	<title>Login</title>

	<style>
		#head{
			animation: nod 2s infinite;
		}

		@keyframes nod {
		    0% {transform: rotate(-10deg);}
		    50% {transform: rotate(7deg);}
		    100% {transform: rotate(-10deg);}
		}

		#plate{
			animation: zzz 2s infinite;
		}

		@keyframes zzz {
		    0% {transform: rotate(0deg);}
		    100% {transform: rotate(0deg);}
		}
	</style>

</head>

<body onload="placeImgs()" onresize="placeImgs()" onscroll="placeImgs()">

	<center>
		<div id="container">
			<div style="background:white;width:840px;margin:40px;box-shadow: 5px 5px 5px #666666;">
			<img  id="head" src="../static/images/logo_head.png" style="width:320px;position:absolute">
			<img  id="plate" src="../static/images/grub_logo_no_head.png" style="width:800px;">
			</div>
		</div>
	</center>

	<table cellspacing="0" class="TABLE">
		<tr><th class="TH"><h3>Grub! Login</h3></th></td>
		<tr><td class="TD">
			<p class="helptext">Please enter your username and password.</p>
			{% if message %}
				<p class="errorMessage">{{message}}</p>
			{% endif %}
			<form method="POST" action="login" role="form">
				<table class="center">
					<tr>
						<td><label for="userID">Username</label></td>
						<td><input type="text" name="userID" id="userID" /></td>
					</tr>
					<tr>
						<td><label for="password">Password</label></td>
						<td><input type="password" id="password" name="password" /></td>
					</tr>
				</table>
				<input type="submit" value="Login!" class="center2"/>
			</form>
		</td></tr>
		<tr><td class ="TD"><a href = "createAccount" class="createAccount">Create New Account</a></td></tr>
	</table>
</body>

<script>
	function placeImgs(){
		var plate = document.getElementById("plate");
		var plateRect = plate.getBoundingClientRect();

		var head = document.getElementById("head");
		head.style.top = (plateRect.top - 10) + "px";
		head.style.left = (plateRect.left + 483) + "px";
		//window.alert(plate.getBoundingClientRect().left)
	}
</script>

{% endblock %}