{% extends "app_base.html" %}
{% block content %}
{# include the first two lines above to extend the app_base template #}
<head>
	<link rel="stylesheet" type="text/css" href="static/css/login.css" />
	<title>Upload Recipe</title>
</head>
</body>
	<table cellspacing="0" class="TABLE">
		<tr><th class="TH"><h3>Grub! Login</h3></th></td>
		<tr><td class="TD">
			<p class="helptext">Please enter your username and password.</p>
			{% if message %}
				<p class="errorMessage">{{message}}</p>
			{% endif %}
			<form method="POST" action="login" role="form">
				<table class="center">
					<tr>
						<td><label for="userID">Username</label></td>
						<td><input type="text" name="userID" id="userID" /></td>
					</tr>
					<tr>
						<td><label for="password">Password</label></td>
						<td><input type="password" id="password" name="password" /></td>
					</tr>
				</table>
				<input type="submit" value="Login!" class="center2"/>
			</form>
		</td></tr>
		<tr><td class = "TD"><a href = "createAccount" class="createAccount">Create New Account</a></td></tr>
	</table>
</body>

{% endblock %}