{% extends "app_base.html" %}
{% block content %}
{# include the first two lines above to extend the app_base template #}


{% if recipe %}
	{% for result in recipe %}
		<h3>{{ result['Recipe_name'] | e}}</h3>
		<p>Description: {{ result['Description'] | e}} </p>
		{% if result['Overall_rating'] == 0.0 %}
			<p>Overall Rating: N/A </p>
		{% else %}
			<p>Overall Rating: {{ result['Overall_rating'] | e}} </p>
		{% endif %}
		
		<p>Number of Servings: {{ result['Num_servings'] | e}} </p>
		<p>User ID: <a href = user?userID={{result['UserID'] | e}}>{{result['UserID'] | e }}</a></p>
		<p>Cooking Time: {{result['Time_completion'] | e}} minutes </p>
		<p>Is this dish spicy? {{result['Spicy'] | e}} </p>
		<p>Difficulty: {{result['Difficulty'] | e}} </p>

		{% if instructions %}
			<br>
			<h4>Instructions:</h4>
			{% for instruction in instructions %}
				<p>Step {{instruction['Instruction_number'] | e}}: {{instruction['Instruction'] | e}}</p>
			{% endfor %}
		{% endif %}

		{% if ingredients %}
			<br>
			<h4>Ingredients:</h4>
			{% for ingredient in ingredients %}
				<ul>
					{% if ingredient['Unit'] == "None" %}
						{% if ingredient['Quantity_denom'] == 1 %}
							<li>{{ingredient['Quantity_num'] | e }} {{ingredient['Ingredient'] | e }}</li>
						{% else %}
							<li>{{ingredient['Quantity_num'] | e }}/{{ingredient['Quantity_denom'] | e }} {{ingredient['Ingredient'] | e }}</li>
						{% endif %}
					{% else %}
						{% if ingredient['Quantity_denom'] == 1 %}
							<li>{{ingredient['Quantity_num'] | e }} {{ingredient['Unit'] | e }} of {{ingredient['Ingredient'] | e }}</li>
						{% else %}
							<li>{{ingredient['Quantity_num'] | e }}/{{ingredient['Quantity_denom'] | e }} {{ingredient['Unit'] | e }} of {{ingredient['Ingredient'] | e }}</li>
						{% endif %}
					{% endif %}	
				</ul>
			{% endfor %}
		{% endif %}

		{% if tags %}
			<br>
			<h4>Tags:</h4>
			{% for tag in tags %}
				<ul>
					<li><form method="POST" action="search" role="form" style="max-width:400px; width:100%">
						<div class="form-group">
	  						<input type="hidden" name="tags" value={{tag['Tags'] | e}}>
	  						<input type="hidden" name="recipeID" value="">
	  						<input type="hidden" name="userID" value="">
	  						<input type="hidden" name="recipeName" value="">
	  						<input type="hidden" name="completionTime" value="">
	  						<input type="hidden" name="ingredients" value="">
	  						<input type="hidden" name="categories" value="">
						</div>
						<div><input type="submit" value={{tag['Tags'] | e}} class="btn btn-primary" /></div>
					</form></li>
				</ul>
			{% endfor %}
		{% endif %}

		{% if photos %}
			<br>
			<h4>Photos:</h4>
			{% for photo in photos %}
				<img src = {{photo['Photo'] | e}} alt = 'OrangeChicken' style="width:304px;height:228px;" >
			{% endfor %}
		{% endif %}

		{% if categories %}
			<br>
			<br>
			<h4>Categories:</h4>
			{% for category in categories %}
				<ul>
					<li><form method="POST" action="search" role="form" style="max-width:400px; width:100%">
						<div class="form-group">
	  						<input type="hidden" name="categories" value={{category['Category'] | e}}>
	  						<input type="hidden" name="recipeID" value="">
	  						<input type="hidden" name="userID" value="">
	  						<input type="hidden" name="recipeName" value="">
	  						<input type="hidden" name="completionTime" value="">
	  						<input type="hidden" name="ingredients" value="">
	  						<input type="hidden" name="tags" value="">
						</div>
						<div><input type="submit" value={{category['Category'] | e}} class="btn btn-primary" /></div>
					</form></li>
				</ul>
			{% endfor %}
		{% endif %}


		{% if cookbooks %}
		<br>
			{% for cookbook in cookbooks %}
				<form action=view?recipeID={{recipeID}} method="POST">
					<input type="hidden" name="recipeID" value={{recipeID | e}}>
					<input type="hidden" name="added_cookbookID" value={{cookbook['CookbookID'] | e}}>
					<h5>Add Recipe to Cookbook {{cookbook['Cookbook_name'] | e}} <input type="submit" value="Add"></h5>
				</form>
			{% endfor %}
		{% endif %}
		
		{% if reviews %}
			<br>
			<h4>Reviews:</h4>
			{% for review in reviews %}
				<ul>
					<p>{{review['Helpful'] | e}} out of {{review['Total'] | e}} people found this review helpful.</p>
					<li><a href = user?userID={{review['UserID'] | e}}>{{review['UserID'] | e }}</a> ({{review['Rating'] | e}} stars) - {{review['Review'] | e}} </li>
					{% if currentUser == review['UserID'] %}
						<form action=view?recipeID={{recipeID}} method="POST">
							<input type="hidden" name="recipeID" value={{review['RecipeID'] | e}}>
							<input type="hidden" name="DeleteReview" value={{review['ReviewID'] | e}}>
							<!--<input type="hidden" name="DeleteReview" value="{{review['Review']| e}}">-->
							<input type="submit" value="Delete">
						</form>
					{% endif %}
					{% if currentUser != review['UserID'] %}
						<p>Was this review helpful?</p>
						<input type="submit" name="YesReview" value="Yes"><input type="submit" name="NoReview" value="No">
					{% endif %}
				</ul>
			{% endfor %}
		{% endif %}

		{% if not userMatchesRecipeAuthor and not userHasReviewed %}
			<form action=view?recipeID={{recipeID}} method="POST">
				{% for result in recipe %}
					<input type="hidden" name="recipeID" value={{result['RecipeID'] | e}}>
				{% endfor %}
	  			<input type="radio" name="stars" value="1"> 1 Star&nbsp;&nbsp;
	  			<input type="radio" name="stars" value="2"> 2 Star&nbsp;&nbsp;
	  			<input type="radio" name="stars" value="3"> 3 Star&nbsp;&nbsp;
	  			<input type="radio" name="stars" value="4"> 4 Star&nbsp;&nbsp;
	  			<input type="radio" name="stars" value="5"> 5 Star  
	  			<br>
	  			<textarea name="review"rows="4" cols="50"></textarea>
	  			<input type="submit" value="Add Review">
			</form>
		{% endif %}

		<!--<button id="popup" onclick="pop_up()">Add Recipe To Cookbook</button>
		<script type="text/javascript">
			function pop_up() {
				alert("choose one!");
				document.getElementById('abc').style.display = "block";
			}

		</script>-->

		<br>
		<br>
	{% endfor %}
{% else %}
	<h3>Recipe Not Found</h3>
{% endif %}

{% endblock %}